$body-color: #fff;
$header-title-color: #002BDC;
$titles-color: #304389;
$bg-color: #F1F4FF;
$paragraph-color: #848484;
$branch-color: #A5B8FF;
$error-color: #f54263;
$scrollbar-bg: #E1E1E1;
$scrollbar: #A8A8A8;

$breakpoint: 1199px;
